*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;



}

body {

    text-align: center;
    margin: 30px auto;
    background: rgb(174,238,174);
 
}

h1 {
    font-family: 'Roboto';
    font-size: 3.125rem;
}

h4 {
    font-size: 1.2rem;
}

h5{
    font-size: 1rem;
}

img{
    width: 200%;
    height: 200%;
    margin: 0px;
    opacity: 1;
    transition: opacity 0.5s ease 0s;
    object-position: center center;
    object-fit: cover;
}

#resultado {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;
    gap: 30px 10px;
    text-align: left;
}



